/* body{ 
    background-color: red;
}
.tag1{
    height: 200px;
    width: 200px;
    background-color: chartreuse;
    border:none;

}

@media screen and (max-width: 780px) {
    body{
       background-color: blueviolet; 
    }
   
    
}*/
*{
    margin:0;
    padding:0;
}
div{
    font-size: 10px;
}
body{
    font-family: 10px "Myriad Pro Regular", "Times New Roman";
}
header{
    height: 13.4em;
    width: 100%;
    background-color: #333;
}
.section{
    font-size: 10px;
    width: 83%;
    margin: 0 auto;
    margin-top:0;
}
ul.menu > li { 
    display: inline;/*список по горизонтали*/ 
    margin: 0;/*отменяет отступы*/ 
    padding: 0; 
    float: right; 
    margin-top: 7em; 
    } 
ul a{
    text-decoration: none;/*отменяет подчёркивание cсылок*/ 
    color: #eee;
    font-size: 1.6em;
    margin-right: 3em;
}
.Design p {
    font-size: 6em;
    background-color: chartreuse;
    float:left;
    display: inline-block;
    margin-top: 0.5em;
    color: #eee; 
}
.clean{
    height: 25em;
    background-color: blue;
    margin-top:0;
}
.clean p{
    font-size: 5.9em;
    padding-top:0.5em;
    color: #333;
}
.we {
    height: 19em;
    background-color: chartreuse;
}
.we p{
   font-size: 3em;
   padding-top: 1.2em;
   color: #555;
}
.table{
    height: 45em;
}
.left{
    height: 35em;
    width: 28em;
    background-color:#00aeef;
    float:left;
    margin-top:4.5em;
}
.right{
    height: 35em;
    width: 28em;
    background-color: #00aeef;
    float: right;
    margin-top:4.5em;
}
.center{
    height: 35em;
    width: 28em;
    background-color: #00aeef;
    float: left;
    margin-left: 13.5em;
    margin-top:4.5em;
}
.box{
    height: 8em;
}
.box h1{
    font-size: 4em;
    text-align: center;
    padding-top: 0.5em;
    color:#fff;
}
.box1{
    height: 19.5em;
}
.box1 p{
    font-size: 1.4em;
    color: #fff;
    padding:2.6em 2em;
}
.box2{
    height: 3.9em;
    width: 23em;
    margin-top:1.5em;
    margin-left:2.5em;
    background-color: #0076a3;
}
.box2 a{
    font-size: 1.8em;
    color:#fff;
    text-decoration: none;
    text-align: center;
    padding-left: 0.9em;
}
.left_box{
    height: 45.2em;
    width: 48em;
    background-color: chartreuse;
    float: left;
}
/* .h1{ 
    height: 6em; 
}
.h1 h1{
    font-size: 2.4em;
    padding-top: 1em;
    color: #555;
}
.stroka{
    height: 8.4em;
    width: 48em;
    background-color: green;
    margin-top: 1em;

}
.stroka .img{
    height: 8.4em;
    width: 8.4em;
    background-color: grey;
}
.text{
height: 8.4em;
background-color: red;
float: right;
}*/

.left_box{
	width: 48em;
    height: 45em;
    background-color: blue;
    margin-right: -5em;
}
.caption{
	height: 7em;
	width: 48em;
	padding-top: 1em;
}	

.caption p{
		font-size:2.4em;
		color: #555;	
}
.stroka{
	height: 6.5em;
	
}
.stroka p,a{
	font-size: 1.4em;
}
.stroka p{
	color: #555;
}
.second{
	height: 8.4em;
	width: 4.8em;
	margin-top: 3em;
}
.text1{
	font-weight: bolder;
}
.second a{
	text-decoration: none;
}


.right_box{
    width: 48em;
    height: 45em;
    background-color: chartreuse;
    float: right;
    margin-right: 1.5em;
}
.right_box h1{
    font-size: 2.4em;
    color: #555;
    padding-left: 1.5em;
}
.right_box p{
    font-size: 2em;
    color: #888;
    padding-left: 1.5em;
    color: #8e8e8e;
}
.right_box img{
    height: 20.05em;
    width: 43em;
    padding:1em 1.5em;
    float: right;
}
.a a{
    font-size: 2em;
    text-decoration: none;
    color: #fff;
    margin-left:1.5em;
    margin-bottom: 1em;
}


@media screen and (max-width : 768px) {
    body{
        font-family: 10px "Myriad Pro Regular", "Times New Roman";
    }
    div{ 
        box-sizing: border-box;/*не учитывает отступы при добавлении текста*/ 

        }  
    .section{
            font-size: 10px;
            width: 100%;
            margin: 0 auto;
            margin-top:0;
        }
     header{
            height: 20em;
            width: 100%;
            background-color:gold ;

        }       
}

